@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');
:root{
  --main-color: #15306F;
  --heading-color: #fff;
  --sec-subheading-color: rgba(45, 132, 238);
  --paragraph-color: #391400;
  --section-heading-color: #391400;
}

/* Common Css */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Jost', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, a, span{
  margin: 0;
  padding: 0;
}

.background {
  background: linear-gradient(37deg, rgba(21, 48, 111, 1) 0%, rgba(37, 116, 212, 0.8) 30%, rgba(21, 48, 111, 1) 100%);
}

.custom-btn {
  padding: 10px 25px !important;
  background: linear-gradient(254deg, rgba(113, 132, 253, 1) 0%, rgba(63, 122, 240, 1) 20%, rgba(79, 55, 238, 1) 100%);
  color: #fff;
  border-radius: 10px;
  border: none;
}

.main-main {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  z-index: 999;
}

.main-main .navbar-brand {
  margin: 0;
  padding: 0;
}

.main-main .navbar-brand img {
  width: 200px;
  margin-top: 10px;
}

.main-main .nav-item {
  margin-left: 15px; 
}

.main-main .nav-link {
  color: #fff;
}

/* Baner Section */

#banner-section {
  position: relative;
  padding: 100px 0px;
}

.banner-heading h1{
  font-size: 50px;
  color: #fff;
  padding-top: 130px;
}

.banner-heading h3 {
  font-size: 28px;
  color: #fff;
  padding: 50px 0px;
}

.banner-button .btn-2 {
  padding: 10px 2px !important;
  background: linear-gradient(254deg, rgba(113, 132, 253, 1) 0%, rgba(63, 122, 240, 1) 20%, rgba(79, 55, 238, 1) 100%);
  border-radius: 10px;
  margin-left: 10px;
}

.custom-btn-2 {
  background: rgba(19, 45, 107, 1);
  padding: 8px 25px !important;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.banner-animation {
  padding: 100px;
}

.banner-bottom h2{
  color: var(--sec-subheading-color);
  font-size: 40px;
  margin-right: 10px;
}

.banner-bottom p {
  color: #fff;
  font-size: 22px;
}
/* Partner Section */
#partner-section {
  padding: 80px 0;
}

.partner-content, .service-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--sec-subheading-color);
  padding-bottom: 20px;
}

.partner-content, .service-content h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--section-heading-color);
}

.partner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 25px;
  margin-top: 30px;
}

.partner-item img{
  width: 100%;
}

/* Services Section */

#services-section .container {
  padding: 0px 120px !important;
}

.service-content p {
  font-size: 18px;
  color: var(--paragraph-color);
  padding-right: 40px;
  line-height: 1.8;
  margin: 20px 0;
}

.service {
  margin-top: 20px;
}

.service li {
  font-size: 18px;
  color: var(--paragraph-color);
  padding: 8px 0;
  
}

/* Security Section */

.security-content {
  text-align: center;
}

.security-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--sec-subheading-color);
  padding-bottom: 20px;
}

.security-content h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--section-heading-color);
}

.security {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  position: relative;
  margin-top: 50px;
  justify-items: center;
}

.security-itme p {
  padding-top: 30px;
}

.security-itme h2 {
  padding-bottom: 21px;
  transform: skew(0deg) rotate(-34deg);
  position: relative;
  left: -20px;
  top: 8px;
}

.back-shpape {
  background-color: #2A76B1;
  width: 80px;
  height: 80px;
  transform: rotate(145deg);
  border-radius: 20px;
  box-shadow: 19px -25px 25px -13px rgb(42 118 177);
  position: relative;
}

.front-shape {
  background-color: rgb(230, 235, 236);
  width: 80px;
  height: 80px;
  border-radius: 20px;
  position: absolute;
  top: 4px;
  left: -3px;
  position: relative;
}

.front-shape i {
  font-size: 30px;
  position: absolute;
  left: 25px;
  top: 25px;
  transform: rotate(180deg);
}

.item-one h2 {
  color: #2A76B1;
}

.item-one i {
  color: #2A76B1;
}

.item-two .back-shpape{
  background-color: #b02833 !important;
  box-shadow: 19px -25px 25px -13px #b02833;
}


.item-two, .item-four, .item-six, .item-eight {
  margin-top: 120px;
}

.item-two h2 {
  color: #b02833;
}

.item-two i {
  color: #b02833;
}

.item-three .back-shpape {
  background-color: #2ee4ed !important;
  box-shadow: 19px -25px 25px -13px #2ee4ed;
}

.item-three h2 {
  color: #2ee4ed;
}

.item-three i {
  color: #2ee4ed;
}

.item-four .back-shpape {
  background-color: #9a2eed !important;
  box-shadow: 19px -25px 25px -13px #9a2eed;
}

.item-four h2 {
  color: #9a2eed;
}

.item-four i {
  color: #9a2eed;
}

.item-six .back-shpape {
  background-color: #ed2ed0 !important;
  box-shadow: 19px -25px 25px -13px #ed2ed0;
}

.item-six h2 {
  color: #ed2ed0;
}

.item-six i {
  color: #ed2ed0;
}
.item-five .back-shpape {
  background-color: #ed812e !important;
  box-shadow: 19px -25px 25px -13px #ed812e;
}

.item-five h2 {
  color: #ed812e;
}

.item-five i {
  color: #ed812e;
}

.item-seven .back-shpape {
  background-color: #ed2e64 !important;
  box-shadow: 19px -25px 25px -13px #ed2e64;
}

.item-seven h2 {
  color: #ed2e64;
}

.item-seven i {
  color: #ed2e64;
}

.item-eight .back-shpape {
  background-color: #3b2eed !important;
  box-shadow: 19px -25px 25px -13px #3b2eed;
}

.item-eight h2 {
  color: #3b2eed;
}

.item-eight i {
  color: #3b2eed;
}

/* Portfolio Section */

#portfolio-section {
  padding: 80px 0;
  margin-top: 80px;
}

.section-title {
  margin-bottom: 50px;
}

.section-title h4{
  color: var(--sec-subheading-color);
  font-weight: 16px;
}

.section-title h3 {
  color: #fff;
  font-size: 40px;
}


.filter-btn {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 25px;
  color: #fff;
  margin: 10px;
  background-color: transparent;
}

.portfolio {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2 {
  padding: 20px 0;
  color: #fff;
  font-size: 25px;
}
.portfolio-btn {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 25px;
  color: #fff;
  background-color: transparent;
  margin-right: 10px;
}


/* Why are you here */

#why-we-are {
  padding: 80px 0;
}

.whyweare-content h4 {
  color: var(--sec-subheading-color);
  font-size: 16px;
  text-transform: uppercase;
}

.whyweare-content h3 {
  color: var(--section-heading-color);
  font-size: 30px;
  line-height: 1.5;
  padding: 15px 0;
}

.whyweare-content2 {
  text-align: right;
}

.text-one {
  padding: 10px;
  border: 1px solid var(--sec-subheading-color);
  border-radius: 10px;
  display: inline-block;
  
}

.text-two {
  padding: 10px;
  border: 1px solid var(--sec-subheading-color);
  border-radius: 10px;
  display: inline-block;
  margin-right: 80px;
}


.text-three {
  padding: 20px 30px;
  border: 1px solid var(--sec-subheading-color);
  border-radius: 10px;
  display: inline-block;
  margin-right: 160px;
  background-color: var(--sec-subheading-color);
  color: #fff;
  font-weight: 600;
}

.text-four {
  padding: 10px;
  border: 1px solid var(--sec-subheading-color);
  border-radius: 10px;
  display: inline-block;
  margin-right: 80px;
}

.text-five {
  padding: 10px;
  border: 1px solid var(--sec-subheading-color);
  border-radius: 10px;
  display: inline-block;
}

/* Feature Section */

.feature h3,
.testimonial h3{
  color: var(--paragraph-color)
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.feature-box {
  border: 1px solid var(--sec-subheading-color);
  width: 380px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
}

.feature-box a {
  color: var(--sec-subheading-color);
  margin-top: 20px;
}

/* FAQ Section */

.faq-section h3{
  color: var(--section-heading-color);
  padding-top: 10px;
}

.faq-section p {
  color: var(--paragraph-color);
  font-size: 16px;
  padding: 20px 0;
}

/* Accordion Section */

.accordion-qusetion {
  color: var(--paragraph-color);
  font-size: 22px;
}

.accordion-button:not(.collapsed) {
  color: var(--section-heading-color) !important;
  background-color: transparent !important;
}

.answer {
  color: var(--paragraph-color);
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.blog-content h3 {
  color: var(--sec-subheading-color);
  font-size: 22px;
  padding: 10px 0;
}

.blog-content small {
  color: var(--paragraph-color);
}

.blog-content p {
  color: var(--paragraph-color);
  margin-top: 10px;
  justify-items: center;
  padding-right: 50px;
}

#hashigbit-section {
  padding: 40px 0;
  margin-top: 50px;
}

.hashing-content p {
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
}

.hashing-content img {
  width: 50%;
}

.hashing-content p span {
  display: block;
  margin-top: 18px;
  font-size: 16px;
}

.hashing-email {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: #15306F;
  color: #fff;
  margin: 20px 0;
}

.hashing-icon {
  background-image: url('../image/images/message.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .050;
  height:350px;
}

.has {
  position: relative;
}

.hashing-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50% ,-50%);
  z-index: 1;
}